.dashboard {
    width: 100%;
}

.dashboard-header {
    width: 100%;
    height: 300px;
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f7fa;
    
    border-bottom: 2px solid black;

    & h1 {
        margin-left: 10px;
    }
}

.dashboard-content {
    padding: 40px;
    height: 300px;
    display: flex;
    flex-direction: column;

    & .text-dashboard-content {
        font-weight: 500;
        font-size: 18px;
    }

    padding: 10px;
    box-sizing:border-box;
}

.dashboard-cards {
    width: 100%;
    height: 70%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.ticket-card {
    width: 250px;
    height: 100px;
    padding: 26px;
    gap: 10px;
    border-radius: 12px;
    background-color: #4780ff;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .card-title {
        font-size: 18px;
    }

    .card-value {
        font-size: 26px;
        font-weight: 500;
    }

    & span {
        display: flex;
        justify-content: space-between;
    }
}

/* Table CONTENT */

.table-section {
    margin-top: 2rem;
}

.table-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #222;
}

.service-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.service-table th,
.service-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    

}


.service-table th {
    background-color: #f5f7fa;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.85rem;
}

/* Cancelar hover no thead */
table thead:first-child {
    pointer-events: none;
}

tr:hover {
    background-color: #00000054;
    cursor: pointer;
}

/* Status colors */
.status {
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: 500;
    color: #fff;
    font-size: 0.85rem;
}

.status-suspended {
    background-color: #ff0000;
}

.status-open {
    background-color: #007bff;
}

.status-progress {
    background-color: #ffc107;
    color: #000;
}

.status-done {
    background-color: #28a745;
}



/* Buttons */
.btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 5px;
    transition: transform 0.1s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.btn-edit {
    color: #007bff;
}

.btn-delete {
    color: #dc3545;
}

/* SVG´s*/

.btn {
    & svg {
        width: 36px;
    }
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
}
.close {
    float: right;
    cursor: pointer;
    font-size: 30px;
}