.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background: #2c3e50;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.sidebar h1 {
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 400;
}

.links {
    flex-grow: 1;
}

.links a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.links a i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

.main-content {
    margin-left: 290px;
    height: 100%;
    width: 100%;
    padding: 50px;
    background-color: #f5f7fa;
}
